.manage-about-container {
  padding: 0 15px;

  .ms-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    color: #0071ba;
  }
  .add-new-about {
    padding-top: 10px;
  }
  button {
    color: white;
    &:hover {
      color: white;
    }
  }
}
